/* media quarie */
@media only screen and (max-width: 1450px) {
    .home-img::after{
        display: none;
    }
    .home-img::before{
        display: none;
    }
    
}
@media only screen and (max-width: 1420px) {
    .scroll-bag {
        width: 95%;
        height: 280px;
        margin: auto;
    }
    .two-buttons {
        display: none;
    } 
}
@media only screen and (max-width: 1350px) {
    .home-img img {
        height: 300px;
        border-radius: 100%;
    }
    .home-img {
        flex: 0 0 30%;
        max-width: 30%;
        text-align: right;
    }
    .home-information {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .service-items{
        margin-top: 20px;
    flex: 0 0 50%;
    max-width: 50%;
    }
    .project-items{
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
    }
    .contact-form {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .slider{
        opacity: 0;
    } 
    .nav-toggler{
        opacity: 1;
    }
    .main-content{
        
        left: 1px;
        
    }
    .home-img img {
        height: 300px;
        border-radius: 100%;
        
    }
    .contact-icon-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px;
        justify-content: center;
    }
    .contact-icon-container .contact-icon-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px){
    .home-information {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-img img{
        height: 500px;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 18vh;
        margin-bottom: 0px;
        box-shadow: 0 0 70 rgb(20, 20, 20 , 0.3);
    }
    
    .service-items,.project-items{
        margin-top: 50px;
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 2px solid var(--bg-black-100);
    }
    .myexperience, .myeducation{
        box-sizing: border-box;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 60px;
    }
    .myexperience{
        margin-left: 0px;
    }
    .myinformation{
        box-sizing: border-box;
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .mycourses{
        box-sizing: border-box;
        flex: 0 0 100%;  
        margin-bottom: 30px;
    }
}
