    @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

    :root{
        --bg-black-900:#f2f2fc;
        --bg-black-100:#fdf9ff;
        --bg-black-50:#e8dfec;
        --text-balck-900:#302e4d;
        --text-balck-700:#504e70;

    }
    body.dark{
        --bg-black-900:#151515;
        --bg-black-100:#222222;
        --bg-black-50:#393939;
        --text-balck-900:#ffffff;
        --text-balck-700:#e9e9e9;  
    }
    .mt-25{
        margin-top: 25px;
    }
    .padd-15{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hidden{
        display: none;
    }

    .shadow-dark{
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    }

    body{
        font-size: 16px;
    }

    *{
        margin: 0;
        padding: 0;
    }
    .btn{
        background-color: var(--skin-color);
        margin: 5px;
        padding: 10px 25px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        
    }
    .btn:hover{
        transform: scale(1.05);
    }

    .blur-filter {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    /* Nav toggler */
    .nav-toggler{
        position: fixed;
        height: 25px;
        width: 30px;
        background-color: var(--bg-black-100);
        top: 20px;
        left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 140;
        opacity: 0;
    }
    .nav-toggler span{
        height: 3px;
        width: 25px;
        background-color:var(--skin-color);
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .nav-toggler span.line3{
        margin-bottom: 0px;
    }
    .nav-toggler-cross{
        position: fixed;
        height: 25px;
        width: 30px;
        background-color: var(--bg-black-100);
        top: 20px;
        left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 140;
        opacity: 0;
    }
    .nav-toggler-cross span{
        height: 3px;
        width: 25px;
        background-color:var(--skin-color);
        border-radius: 5px;
    }
    .nav-toggler-cross span.line1{
        margin-bottom: -3px;
        transform: rotate(45deg);
    }
    .nav-toggler-cross span.line2{
        
        transform: rotate(-45deg);
        /* width: (100% + 30px); */
    }

    .slider .logo{
        position: absolute;
        top: 8%;
        left: 20px;
        font-size: 30px;
        text-transform: capitalize;
        
    }
    .slider{
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        background-color:var(--bg-black-100);   
        height: 100vh;
        border-right: 1px solid var(--bg-black-50);
        z-index: 110;
    }

    /* slider style */
    .slider .logo a{
        
        color: var(--text-balck-900);
        font-weight: 500;
        padding: 15px 20px;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        
    }
    .slider .logo a span{
        font-family: 'Clicker Script', cursive;
        color: rgb(234, 218, 131);
        font-weight: 1000;
        font-size: 30px;

    }
    .slider img{
        height: 30px;
        border-radius: 50px;
    }
    .slider .logo a::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 25px;
        border-bottom: 5px solid var(--skin-color);
        border-left: 5px solid var(--skin-color);
        border-radius: 8px;
        bottom: 0;
        left: 0;
        
    }
    .slider .logo a::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 25px;
        border-radius: 8px;
        border-top: 5px solid var(--skin-color);
        border-right: 5px solid var(--skin-color);
        top: 0;
        right: 0;
        
    }

    ul {
        margin-top: 95px;
        list-style: none;
    
    }
    ul li{
        padding: 10px;
        font-size: 20px;
        
        margin: 5px 0px;
        
    }
    ul li a{
        color: var(--text-balck-900);
        border-bottom: 1px solid var(--bg-black-50);
        text-decoration: none;
    }
    ul li i{
        margin-right: 10px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
    }
    .slider .nav li a.active{
        color: var(--skin-color);
    }
    /* Main content desing */
    .main-content{
        flex: 0 0 100%;
        position: absolute;
        left: 251px;
        top: 0;
        background-color: var(--bg-black-900);
    }
    .container{
        padding:85px 80px;
    } 
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;

    }
    /* Home section css */
    .home-img img{
        height: 400px;
        border-radius: 10px;
    }
    .home-img::after{
        content: '';
        position: absolute;
        bottom: -40px;
        right: 20px;
        width: 190px;
        height: 126px;
        border-bottom: 10px solid var(--skin-color);
        border-right: 10px solid var(--skin-color);
        border-radius: 26px
    }
    .home-img::before{
        content: '';
        position: absolute;
        top: -40px;
        right: 243px;
        width: 190px;
        height: 126px;
        border-top: 10px solid var(--skin-color);
        border-left: 10px solid var(--skin-color);
        border-radius: 26px
    }

    h3.hello{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        margin: 10px 0px;
        color: var(--text-balck-900);
    }
    h3.profession{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 35px;
        margin-left: 10px;
        font-weight: 700;

    }

    h3 span.name{
        font-family: 'Clicker Script', cursive;
        color: var(--skin-color);
    }

    h3 span.typing{
        color: var(--skin-color);
    }
    .home-information p{
        font-size: 16px;
        margin-bottom: 50px;
        color: var(--text-balck-900);
        
    }
    p{
        font-family: 'Roboto', sans-serif;
    }
    p a.iitgn{
        color: var(--skin-color);
        text-decoration: none;
    }
    .main-container{
        height: 100%;
    }


    .home{
        min-width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-balck-900);
    }
    .home-information{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .home-img{
        flex: 0 0 40%;
        max-width: 40%;
        
        text-align: center;
    }

    /* About section css */
    h2.about-heading{
        color: var(--skin-color);
        font-size: 40px;
        font-weight: 700;
    }
    h2.about-heading::after{
        content: '';
        height: 5px;
        width: 70px;
        position: absolute;
        top: 88px;
        left: 0px;
        background-color: var(--skin-color);
        margin-bottom: 20px;
    }
    h2.about-heading::before{
        content: '';
        height: 4px;
        width: 42px;
        position: absolute;
        top: 95px;
        left: 0px;
        background-color: var(--skin-color);
    }
    .about-title{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }

    .about-starting{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .about-starting h2 span{
        color: var(--skin-color);
    }
    .about-starting p{
        margin-top: 15px;
        margin-bottom: 40px;
        margin-left:20px;
        margin-right: 20px;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-balck-700);
    }

    .myinformation{
        box-sizing: border-box;
        flex: 0 0 60%;
        margin-bottom: 70px;
    }
    .mycourses{
        box-sizing: border-box;
        flex: 0 0 40%;  
    }

    .heading h3{
        color: var(--skin-color);
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 900;
    }
    .info-iteams-container1{
        box-sizing: border-box;
        flex: 0 0 50%;
    }
    .info-iteams-container2{
        box-sizing: border-box;
        flex: 0 0 50%;
    }
    .info-items{
        padding: 2px 0px;   
        font-family: 'Roboto', sans-serif;
        font-weight:520;
        border-bottom: 1px solid var(--bg-black-50);
        color: var(--text-balck-700);
    }
    .info-items p span{
        color: var(--text-balck-700);
        font-weight: 480;
    }

    .mycourses .courses-items p{
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 3px 0px;
        color: var(--text-balck-700);
    }

    .scroll-bag{
        margin-top: 30px;
        width: 60%;
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
        
    }
    .scroll-bag .heading h3{
        margin-bottom: 15px;
    }

    .scroll-bag .heading h3{
        position: relative;
    }
    .skill-items h5{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 10px 10px;
        color: var(--text-balck-700);
        
    }
    
    .scroll-content{
        padding-left: 20px;
    }

    .skill-items .progress{
        background-color: var(--skin-color);
        width: 100%;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: left;

    }

    /* two buttons */
    .two-buttons{
        height: 30vh;
        width: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Education and experince section css */

    .myeducation{
        box-sizing: border-box;
        flex: 0 0 50%;
        max-width: 48%;
        margin-top: 80px;
        text-align: center;
        
    }
    .myexperience{
        box-sizing: border-box;
        flex: 0 0 50%;
        max-width: 48%;
        margin-top: 80px;
        margin-left: 4%;
        text-align: center;
    }
    .timline-box{
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .timeline{
        background-color: var(--bg-black-100);
        padding: 30px 10px;
        border: 1px solid var(--bg-black-50);
        border-radius: 4px;

    }
    .timeline .timeline-items{
        position: relative;
        padding-left: 40px;
        padding-right: 10px;
        padding-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        color: var(--text-balck-700);
    }

    .timeline .timeline-items:last-child{
        padding-bottom: 0px;

    }
    .timeline .timeline-items::before{
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 7px;
        background-color: var(--skin-color);
    }
    .timeline .timeline-items .circle-dot{
        width: 20px;
        height: 20px;
        background-color: var(--skin-color);
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0px;
    }
    .timeline .timeline-items i{
        color: var(--skin-color);
        margin-right: 10px;
        margin-bottom: 8px;
    }
    .timeline-title{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
        padding-left: 10px;
    }
    .title{
        font-size: 20px;
        font-weight: 900;
        color: var(--skin-color);
        margin-bottom: 10px;
    }

    /* service section css */
    /* h2.service-heading{
        color: var(--skin-color);
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    h2.service-heading::after{
        content: '';
        height: 5px;
        width: 60px;
        position: absolute;
        top: 46px;
        left: 0px;
        background-color: var(--skin-color);
        margin-bottom: 20px;
    }
    h2.service-heading::before{
        content: '';
        height: 4px;
        width: 42px;
        position: absolute;
        top: 52px;
        left: 0px;
        background-color: var(--skin-color);
    }


    .service-items{
    margin-top: 20px;
    flex: 0 0 33.3%;
    max-width: 33.3%;
    
    }
    .service-items .service-items-inner{
    width: 90%;
    background-color: var(--bg-black-100);  
    padding: 25px 10px;
    border: 2px solid var(--bg-black-50);
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--text-balck-700);
    margin-left: 2.5%;
    
    }
    .service-items .service-items-inner .icon .fa-solid{
    color: var(--skin-color);
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 15px;
    transition: all 0.35s ease;
    }
    .service-items .service-items-inner:hover .icon .fa-solid{
        height: 60px;
        width: 60px;
        border-radius: 100%;
    background-color: var(--skin-color);
    position: relative;
    
    }
    .service-items .service-items-inner:hover .icon .fa-solid{
        font-size: 25px;
        color: var(--bg-black-100);
    
    }
    .service-items .service-items-inner h4{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    } */

    /* Project section css */
    h2.service-heading{
        color: var(--skin-color);
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .lastproject{
        font-size: 23px;
        font-weight: 900;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        color: var(--text-balck-900);
    }
    .project-items{
        flex: 0 0 33.3%;
        max-width: 33.33%;
        margin-top: 30px;

    }
    .project-items .project-items-inner{
        width: 90%;
        background-color: var(--bg-black-100);
        border: 2px solid var(--bg-black-50);
        border-radius: 5px;
        text-align: center;
        color: var(--text-balck-700);
        margin-left: 2.5%;
    }
    .project-items .project-items-inner .project-image img{
        width: 100%;
        display: block;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .project-items .project-items-inner h4{
        font-size: 18px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }
    .project-items .project-items-inner p{
        font-family: 'Roboto', sans-serif;
        padding: 15px 10px;
    }

    /* contace section css */

    .contact-sutitle h3{
        font-size: 23px;
        text-transform: capitalize;
        font-weight: 700;
        color: var(--skin-color);
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 15px auto;
        

    }
    .contact-sutitle h4{
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 500;
        padding: 10px auto;
        color: var(--text-balck-700);
    }
    .contact-sutitle{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .contact-icon-container{
        display: flex;  
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 50px;
    }

    .contact-icon-items{
        flex: 0 0 25%;
        max-width: 25%;
        box-sizing: border-box;
        text-align: center;
    }
    .contact-icon-items .contact-icon i{
        font-size: 25px;
        color: var(--skin-color);
        margin-bottom: 15px;
    }
    .contact-icon-items h3{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 8px;
        font-family: 'Roboto', sans-serif;
        color: var(--text-balck-700);
    }
    .contact-icon-items h4{
        font-size: 15px;
        color: var(--text-balck-700);
        font-family: 'Roboto', sans-serif;
    }

    /* contact form css */
    .contact-form{
        width: 60%;
        background-color: var(--bg-black-100);
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid var(--bg-black-50);
        
    }
    .contact-box-from{
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid var(--bg-black-50);
        margin: 10px 30px;
    }
    .contact-form .client-name{
        display: flex;
        justify-content: space-between; 
        
    }
    .contact-form .client-name .firstname, .lastname{
        width: 50%;
        background-color: var(--bg-black-50);
        color: var(--text-balck-700);
    }
    .contact-form .email, .massege{
        width: 85%;
        background-color: var(--bg-black-50);
        color: var(--text-balck-700);
    }
    .contact-form .massege{
        height: 100px;
        background-color: var(--bg-black-50);
        color: var(--text-balck-700);
        overflow: show;
        
    }
    .contact-form h6{
        margin-left: 30px;
        color: var(--text-balck-700);
        
    }
    .contact-form .submit{
    text-align: center;
    margin: 10px 0px;
    }
    footer{
        height: 100px;
        width: 100%;
        background-color: var(--skin-color);
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    footer .footer-icon a i{
        font-size: 30px;
        color: black;
        margin: 10px 10px;
    }

    