.style-switcher{
    position: fixed;
    top: 40px;
    right: 0px;
    background-color: var(--bg-black-100);
    width: 170px;
    z-index: 100;
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    transition: 0.3s all ease;
    padding: 5px;
    transform: translate(100%);
}
.open{
    transform: translate(-25px);
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
   text-align: center;
   font-size: 25px;
   background-color: var(--bg-black-50);
   color: var(--text-balck-900);
   border-radius: 100%;
   right: 100%;
   transition: 0.3s all ease;
   line-height: 40px;
   margin-right: 5px;
   cursor: pointer;
   
}
.style-switcher .day-night{
    margin-top: 48px;
}
.style-switcher .theme-color{
    top: 0px;
}
.style-switcher h4{
    margin: 0 0 10px;
    font-size: 16;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-balck-900);
}
.style-switcher .diff-colors{
    display: flex;
    justify-content: space-between;
}
.style-switcher .diff-colors span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border:1px solid var(--bg-black-50);
    cursor: pointer;
}

.diff-colors span.color1{
    background-color: #ed1939;
}
.diff-colors span.color2{
    background-color: #d7d750;
}
.diff-colors span.color3{
    background-color: #4b71be;
}
.diff-colors span.color4{
    background-color: #d540a3;
}
.diff-colors span.color5{
    background-color: #37b182;
}

.opp{
    opacity: 1;
}